[Unit]
Description={{SITENAME}} Gorden Web Server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=exec
Restart=always
RestartSec=5
User=root
WorkingDirectory={{GORDENWD}}
ExecStart={{GORDENEXEC}}

[Install]
WantedBy=multi-user.target